.xbwsb { 
  font-size: 60px;
  padding-bottom: 99px;
  border-right-width: 41px;
  padding-top: 62px;
  border-right-width: 64px;
  margin-right: 48px;
  margin-left: 92px;
  padding-right: 98px;
  border-bottom-width: 21px;
}
