.xbwsb { 
  font-size: 60px;
  padding-bottom: 99px;
  border-right-width: 41px;
  padding-top: 62px;
  border-right-width: 64px;
  margin-right: 48px;
  margin-bottom: 77px;
  border-left-width: 42px;
  margin-right: 18px;
}
